# CS6140 Machine Learning: Assignment 4 (F22) (Total Points: 100)
## Prof. Ahmad Uzair

## 2. PCA understanding [10 pts]

#### 1. Write your understanding of PCA.

PCA reduces the dimensionality of a data set by identifying the most important exes of variation and using only the most important. Since some features are unhelpful to build the model and make predictions, PCA can project data onto primary axis, which, in many cases, projects the data from higher dimension space to lower dimension space by linear combination based on the original features.

#### 2. Why is it needed?

PCA helps us to find the important patterns, and it can simplify the complexity in higher dimension space while retaining trends and patterns, which compress the data and retain most of the information. And this helps us to understand the data. In the reduced dimension space, we can observe the trends, jumps, clusters, and outliers efficiently, and uncover the relationships between observations and variables. This can solve the collinearity by decorating the features, which by reducing the influence of some features to observe the true relationships between the features and observations.

#### 3. How does it works?

First, we decompose the correlation matrix and get the eigenvalues and eigenvectors. Then we use the eigenvectors to transform the input data. Based on the eigenvalues, we select the most important or most explanatory components, and discard some of the components that are not much explanatory.

#### 4. How does it helps ?

PCA reduces data by geometrically projecting them onto lower dimensions called principal components, with the goal of finding the best summary of the data using a limited number of PCs. The PC(s) are chosen to minimize the total distance between the data and their projection onto the PC. By minimizing this distance, we also maximize the variance of the projected points. In this case we can increase interpretability but at the same time minimizing information loss.

#### 5. Think of and give an example scenario where it is useful and can be used.

Assume we have a dataset that the features are strongly correlated, in this case, we need to apply PCA to the dataset. For instance, there is a dataset describes the expenditure of different customers in a mall. The dataset may contain their ages, incomes, living regions, credit card limits, etc. There might be some relationships between the features, so we do not know which feature affect the expenditure the most, like maybe both income and credit card limit have a positive relationship with the amount of expenditure, and we need to know the importance of different features. That's the reason why we use PCA.

## 2. Coding Exercise [30 pts]

In [79]:
import pandas as pd

** Note : Read The Whole Question For Better Understanding Of The Demand Of The Exercise.**

Read the given csv file ('airbnb.csv')

### 1. [Feature elimination] : Carefully look and understand the nature of the data, remove potentially unnecessary/less useful features. [2 pts]

[Hint: After elimination you should be left with 8-10 features]

In [80]:
airbnb_data = pd.read_csv('airbnb.csv')
print('Shape of dateset: ', airbnb_data.shape)
airbnb_data

Shape of dateset:  (48895, 16)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [81]:
airbnb_data.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [82]:
# Id(s) and name(s) are just the identifiers
# All properties are at the same range of latitude
# Number of reviews relates to num_of_reviews
airbnb_data.drop(['id', 'name', 'host_id', 'host_name', 'latitude', 'longitude', 'last_review', 'reviews_per_month'], axis = 1, inplace = True)
print('Shape of trimmed dataset: ', airbnb_data.shape)
airbnb_data.head()

Shape of trimmed dataset:  (48895, 8)

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,Private room,149,1,9,6,365
1,Manhattan,Midtown,Entire home/apt,225,1,45,2,355
2,Manhattan,Harlem,Private room,150,3,0,1,365
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,1,194
4,Manhattan,East Harlem,Entire home/apt,80,10,9,1,0

In [83]:
airbnb_data.isna().sum()

neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

### 2. Data conversion
Select appropriate text features and suitably convert them into numerical features. [5 pts]

### 3. Model Training:
Train a linear regression model over the entire data.  [5 pts]

[Note 1: A library can be used, Target variable is 'price', Use all features.]

[Note 2: Report and maintain accuracy and time taken to train the model]

### 4. Apply PCA: 
Use PCA to reduce dimensions to N = 5, 4, 3, 2, 1. Using these new features, train the a new model again. [10 pts.]

[Note 3: A library can be used for PCA, Target variable is still 'price', Use 'N' features at a time for a model.]

[Note 4: Report and maintain accuracy and time taken to train each the model and also the time taken for PCA for each 'N' value.]

### 5. Visualisation 
[6 pts]
5.1 Plot a graph, for number of features vs accuracy [Total 1+5 plots]. [2 pts]
5.2 Plot a graph, for time spend on training models [excluding the PCA time] vs accuracy [Total 1+5 plots]. [2 pts]

5.3 Plot a graph, for time spend on training models [including the PCA time] vs accuracy [Total 1+5 plots]. [2 pts]

[Note 5] : Since each sub part have 6 plots, try to make a 2x3 or 3x2 type of plot, so that 'glance' is possible.

### 6. Analyze 
Have a look on the created plots, what do you think about the effectiveness of PCA in this practical application? Write your opinion with supportive arguments. [2 pts]