# CS6140 Machine Learning: Assignment 4 (F22) (Total Points: 100)
## Prof. Ahmad Uzair

## 2. PCA understanding [10 pts]

#### 1. Write your understanding of PCA.

PCA reduces the dimensionality of a data set by identifying the most important exes of variation and using only the most important. Since some features are unhelpful to build the model and make predictions, PCA can project data onto primary axis, which, in many cases, projects the data from higher dimension space to lower dimension space by linear combination based on the original features.

#### 2. Why is it needed?

PCA helps us to find the important patterns, and it can simplify the complexity in higher dimension space while retaining trends and patterns, which compress the data and retain most of the information. And this helps us to understand the data. In the reduced dimension space, we can observe the trends, jumps, clusters, and outliers efficiently, and uncover the relationships between observations and variables. This can solve the collinearity by decorating the features, which by reducing the influence of some features to observe the true relationships between the features and observations.

#### 3. How does it works?

First, we decompose the correlation matrix and get the eigenvalues and eigenvectors. Then we use the eigenvectors to transform the input data. Based on the eigenvalues, we select the most important or most explanatory components, and discard some of the components that are not much explanatory.

#### 4. How does it helps ?

PCA reduces data by geometrically projecting them onto lower dimensions called principal components, with the goal of finding the best summary of the data using a limited number of PCs. The PC(s) are chosen to minimize the total distance between the data and their projection onto the PC. By minimizing this distance, we also maximize the variance of the projected points. In this case we can increase interpretability but at the same time minimizing information loss.

#### 5. Think of and give an example scenario where it is useful and can be used.

Assume we have a dataset that the features are strongly correlated, in this case, we need to apply PCA to the dataset. For instance, there is a dataset describes the expenditure of different customers in a mall. The dataset may contain their ages, incomes, living regions, credit card limits, etc. There might be some relationships between the features, so we do not know which feature affect the expenditure the most, like maybe both income and credit card limit have a positive relationship with the amount of expenditure, and we need to know the importance of different features. That's the reason why we use PCA.

## 2. Coding Exercise [30 pts]

In [82]:
import time
import numpy as np
import pandas as pd

from sklearn.decomposition import PCA
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression

** Note : Read The Whole Question For Better Understanding Of The Demand Of The Exercise.**

Read the given csv file ('airbnb.csv')

### 1. [Feature elimination] : Carefully look and understand the nature of the data, remove potentially unnecessary/less useful features. [2 pts]

[Hint: After elimination you should be left with 8-10 features]

In [83]:
airbnb_data = pd.read_csv('airbnb.csv')
print('Shape of dateset: ', airbnb_data.shape)
airbnb_data

Shape of dateset:  (48895, 16)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [84]:
airbnb_data.nunique()

id                                48895
name                              47905
host_id                           37457
host_name                         11452
neighbourhood_group                   5
neighbourhood                       221
latitude                          19048
longitude                         14718
room_type                             3
price                               674
minimum_nights                      109
number_of_reviews                   394
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [85]:
# Id(s) and name(s) are just the identifiers
# All properties are at the same range of latitude
# Number of reviews relates to num_of_reviews
airbnb_data.drop(['id', 'name', 'host_id', 'host_name', 'latitude', 'longitude', 'last_review', 'reviews_per_month'], axis = 1, inplace = True)
print('Shape of trimmed dataset: ', airbnb_data.shape)
airbnb_data.head()

Shape of trimmed dataset:  (48895, 8)

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,Brooklyn,Kensington,Private room,149,1,9,6,365
1,Manhattan,Midtown,Entire home/apt,225,1,45,2,355
2,Manhattan,Harlem,Private room,150,3,0,1,365
3,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,1,194
4,Manhattan,East Harlem,Entire home/apt,80,10,9,1,0

In [86]:
airbnb_data.isna().sum()

neighbourhood_group               0
neighbourhood                     0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

### 2. Data conversion
Select appropriate text features and suitably convert them into numerical features. [5 pts]

In [87]:
cat_features = ['neighbourhood_group', 'neighbourhood', 'room_type']
encoder = LabelEncoder()

print('neighbourhood_group mapping:')
encoder.fit(airbnb_data['neighbourhood_group'])
print(dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))
airbnb_data['neighbourhood_group'] = encoder.transform(airbnb_data['neighbourhood_group'])

print('neighbourhood mapping:')
encoder.fit(airbnb_data['neighbourhood'])
print(dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))
airbnb_data['neighbourhood'] = encoder.transform(airbnb_data['neighbourhood'])

print('room_type mapping:')
encoder.fit(airbnb_data['room_type'])
print(dict(zip(encoder.classes_, encoder.transform(encoder.classes_))))
airbnb_data['room_type'] = encoder.transform(airbnb_data['room_type'])

neighbourhood_group mapping:
{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}
neighbourhood mapping:
{'Allerton': 0, 'Arden Heights': 1, 'Arrochar': 2, 'Arverne': 3, 'Astoria': 4, 'Bath Beach': 5, 'Battery Park City': 6, 'Bay Ridge': 7, 'Bay Terrace': 8, 'Bay Terrace, Staten Island': 9, 'Baychester': 10, 'Bayside': 11, 'Bayswater': 12, 'Bedford-Stuyvesant': 13, 'Belle Harbor': 14, 'Bellerose': 15, 'Belmont': 16, 'Bensonhurst': 17, 'Bergen Beach': 18, 'Boerum Hill': 19, 'Borough Park': 20, 'Breezy Point': 21, 'Briarwood': 22, 'Brighton Beach': 23, 'Bronxdale': 24, 'Brooklyn Heights': 25, 'Brownsville': 26, "Bull's Head": 27, 'Bushwick': 28, 'Cambria Heights': 29, 'Canarsie': 30, 'Carroll Gardens': 31, 'Castle Hill': 32, 'Castleton Corners': 33, 'Chelsea': 34, 'Chinatown': 35, 'City Island': 36, 'Civic Center': 37, 'Claremont Village': 38, 'Clason Point': 39, 'Clifton': 40, 'Clinton Hill': 41, 'Co-op City': 42, 'Cobble Hill': 43, 'College Point': 44, 'Columbia St': 45, 'Concord': 46, 'Concourse': 47, 'Concourse Village': 48, 'Coney Island': 49, 'Corona': 50, 'Crown Heights': 51, 'Cypress Hills': 52, 'DUMBO': 53, 'Ditmars Steinway': 54, 'Dongan Hills': 55, 'Douglaston': 56, 'Downtown Brooklyn': 57, 'Dyker Heights': 58, 'East Elmhurst': 59, 'East Flatbush': 60, 'East Harlem': 61, 'East Morrisania': 62, 'East New York': 63, 'East Village': 64, 'Eastchester': 65, 'Edenwald': 66, 'Edgemere': 67, 'Elmhurst': 68, 'Eltingville': 69, 'Emerson Hill': 70, 'Far Rockaway': 71, 'Fieldston': 72, 'Financial District': 73, 'Flatbush': 74, 'Flatiron District': 75, 'Flatlands': 76, 'Flushing': 77, 'Fordham': 78, 'Forest Hills': 79, 'Fort Greene': 80, 'Fort Hamilton': 81, 'Fort Wadsworth': 82, 'Fresh Meadows': 83, 'Glendale': 84, 'Gowanus': 85, 'Gramercy': 86, 'Graniteville': 87, 'Grant City': 88, 'Gravesend': 89, 'Great Kills': 90, 'Greenpoint': 91, 'Greenwich Village': 92, 'Grymes Hill': 93, 'Harlem': 94, "Hell's Kitchen": 95, 'Highbridge': 96, 'Hollis': 97, 'Holliswood': 98, 'Howard Beach': 99, 'Howland Hook': 100, 'Huguenot': 101, 'Hunts Point': 102, 'Inwood': 103, 'Jackson Heights': 104, 'Jamaica': 105, 'Jamaica Estates': 106, 'Jamaica Hills': 107, 'Kensington': 108, 'Kew Gardens': 109, 'Kew Gardens Hills': 110, 'Kingsbridge': 111, 'Kips Bay': 112, 'Laurelton': 113, 'Lighthouse Hill': 114, 'Little Italy': 115, 'Little Neck': 116, 'Long Island City': 117, 'Longwood': 118, 'Lower East Side': 119, 'Manhattan Beach': 120, 'Marble Hill': 121, 'Mariners Harbor': 122, 'Maspeth': 123, 'Melrose': 124, 'Middle Village': 125, 'Midland Beach': 126, 'Midtown': 127, 'Midwood': 128, 'Mill Basin': 129, 'Morningside Heights': 130, 'Morris Heights': 131, 'Morris Park': 132, 'Morrisania': 133, 'Mott Haven': 134, 'Mount Eden': 135, 'Mount Hope': 136, 'Murray Hill': 137, 'Navy Yard': 138, 'Neponsit': 139, 'New Brighton': 140, 'New Dorp': 141, 'New Dorp Beach': 142, 'New Springville': 143, 'NoHo': 144, 'Nolita': 145, 'North Riverdale': 146, 'Norwood': 147, 'Oakwood': 148, 'Olinville': 149, 'Ozone Park': 150, 'Park Slope': 151, 'Parkchester': 152, 'Pelham Bay': 153, 'Pelham Gardens': 154, 'Port Morris': 155, 'Port Richmond': 156, "Prince's Bay": 157, 'Prospect Heights': 158, 'Prospect-Lefferts Gardens': 159, 'Queens Village': 160, 'Randall Manor': 161, 'Red Hook': 162, 'Rego Park': 163, 'Richmond Hill': 164, 'Richmondtown': 165, 'Ridgewood': 166, 'Riverdale': 167, 'Rockaway Beach': 168, 'Roosevelt Island': 169, 'Rosebank': 170, 'Rosedale': 171, 'Rossville': 172, 'Schuylerville': 173, 'Sea Gate': 174, 'Sheepshead Bay': 175, 'Shore Acres': 176, 'Silver Lake': 177, 'SoHo': 178, 'Soundview': 179, 'South Beach': 180, 'South Ozone Park': 181, 'South Slope': 182, 'Springfield Gardens': 183, 'Spuyten Duyvil': 184, 'St. Albans': 185, 'St. George': 186, 'Stapleton': 187, 'Stuyvesant Town': 188, 'Sunnyside': 189, 'Sunset Park': 190, 'Theater District': 191, 'Throgs Neck': 192, 'Todt Hill': 193, 'Tompkinsville': 194, 'Tottenville': 195, 'Tremont': 196, 'Tribeca': 197, 'Two Bridges': 198, 'Unionport': 199, 'University Heights': 200, 'Upper East Side': 201, 'Upper West Side': 202, 'Van Nest': 203, 'Vinegar Hill': 204, 'Wakefield': 205, 'Washington Heights': 206, 'West Brighton': 207, 'West Farms': 208, 'West Village': 209, 'Westchester Square': 210, 'Westerleigh': 211, 'Whitestone': 212, 'Williamsbridge': 213, 'Williamsburg': 214, 'Willowbrook': 215, 'Windsor Terrace': 216, 'Woodhaven': 217, 'Woodlawn': 218, 'Woodrow': 219, 'Woodside': 220}
room_type mapping:
{'Entire home/apt': 0, 'Private room': 1, 'Shared room': 2}

In [88]:
airbnb_data

,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,calculated_host_listings_count,availability_365
0,1,108,1,149,1,9,6,365
1,2,127,0,225,1,45,2,355
2,2,94,1,150,3,0,1,365
3,1,41,0,89,1,270,1,194
4,2,61,0,80,10,9,1,0
...,...,...,...,...,...,...,...,...
48890,1,13,1,70,2,0,2,9
48891,1,28,1,40,4,0,2,36
48892,2,94,0,115,10,0,1,27
48893,2,95,2,55,1,0,6,2
48894,2,95,1,90,7,0,1,23

### 3. Model Training:
Train a linear regression model over the entire data.  [5 pts]

[Note 1: A library can be used, Target variable is 'price', Use all features.]

[Note 2: Report and maintain accuracy and time taken to train the model]

In [89]:
X = airbnb_data.loc[:, airbnb_data.columns != 'price']
y = airbnb_data.loc[:, 'price']

regressor = LinearRegression()

start = time.time()
regressor.fit(X, y)
end = time.time()
print(f'Time taken: {np.round(end - start, 4)}s')
print(f'Accuracy score: {np.round(regressor.score(X, y), 4)}')

Time taken: 0.008s
Accuracy score: 0.0767

### 4. Apply PCA: 
Use PCA to reduce dimensions to N = 5, 4, 3, 2, 1. Using these new features, train the a new model again. [10 pts.]

[Note 3: A library can be used for PCA, Target variable is still 'price', Use 'N' features at a time for a model.]

[Note 4: Report and maintain accuracy and time taken to train each the model and also the time taken for PCA for each 'N' value.]

In [96]:
for n_com in range(1, 8):
    pca = PCA(n_components = n_com)

    start = time.time()
    components = pca.fit_transform(X)
    end = time.time()
    print(f'n_components = {n_com}')
    print(f'Time taken for PCA: {np.round(end - start, 4)}s')

    start = time.time()
    regressor.fit(components, y)
    end = time.time()
    print(f'Total explained variance: {pca.explained_variance_ratio_.sum() * 100}')
    print(f'Time taken to train: {np.round(end - start, 4)}s')
    print(f'Accuracy score: {np.round(regressor.score(components, y), 4)}')
    print()

n_components = 1
Time taken for PCA: 0.0322s
Total explained variance: 68.37613491364104
Time taken to train: 0.002s
Accuracy score: 0.0064

n_components = 2
Time taken for PCA: 0.0305s
Total explained variance: 86.8640725440804
Time taken to train: 0.003s
Accuracy score: 0.011

n_components = 3
Time taken for PCA: 0.0329s
Total explained variance: 94.51205491756582
Time taken to train: 0.004s
Accuracy score: 0.0153

n_components = 4
Time taken for PCA: 0.032s
Total explained variance: 98.42824743059184
Time taken to train: 0.0055s
Accuracy score: 0.0158

n_components = 5
Time taken for PCA: 0.031s
Total explained variance: 99.99678975609724
Time taken to train: 0.006s
Accuracy score: 0.0161

n_components = 6
Time taken for PCA: 0.009s
Total explained variance: 99.99886175942237
Time taken to train: 0.005s
Accuracy score: 0.0169

n_components = 7
Time taken for PCA: 0.0086s
Total explained variance: 100.0
Time taken to train: 0.007s
Accuracy score: 0.0767

### 5. Visualisation 
[6 pts]
5.1 Plot a graph, for number of features vs accuracy [Total 1+5 plots]. [2 pts]
5.2 Plot a graph, for time spend on training models [excluding the PCA time] vs accuracy [Total 1+5 plots]. [2 pts]

5.3 Plot a graph, for time spend on training models [including the PCA time] vs accuracy [Total 1+5 plots]. [2 pts]

[Note 5] : Since each sub part have 6 plots, try to make a 2x3 or 3x2 type of plot, so that 'glance' is possible.

### 6. Analyze 
Have a look on the created plots, what do you think about the effectiveness of PCA in this practical application? Write your opinion with supportive arguments. [2 pts]